@media only screen and (max-width: 1600px){/*////////////////////////////@Media 1600px///////////////////////////////*/
body{
	width: 1577px;
}
.container_1 {
	width: 1577px;*
}
.container_5 {
	width: 1577px;
}
.container_6 {
	width: 1417px;
	margin-left: 162px;
}
.contactInfoContainer {
	width: 577px;
}
footer {
	width: 1577px;
}
.footerContent {
	width: 1249px;
}
}
@media only screen and (max-width: 1366px){/*////////////////////////////@Media 1366px///////////////////////////////*/
body{
	width: 1343px;
}
.container_1 {
	width: 1343px;*
}
.container_5 {
	width: 1343px;
}
.container_6 {
	width: 1295px;
	margin-left: 45px;
}
.contactInfoContainer {
	width: 456px;
}
footer {
	width: 1343px;
}
.footerContent {
	width: 1000px;
}
}
@media only screen and (max-width: 1280px){/*////////////////////////////@Media 1280px///////////////////////////////*/
body{
	width: 1257px;
}
.container_1 {
	width: 1257px;*
}
.menu {
	width: 1217px;
}
header {
	width: 1200px;
}
h1 {
	letter-spacing: 5px;
}
.container_2 {
	width: 1257px;
	height: 530px;
}
.container_2RightItem{
	height: 50%;
}
.container_2LeftItem {
	margin-left: 25px;
}
.container_2RightItems{
	margin-left: 100px;
}
.container_3 {
	margin-top: 52px;
}
.container_4 {
	width: 1257px;
}
.container_4 h2,
.container_4 p {
	margin: 15px;
}
.leftPhoto {
	margin-left: 15px;
}
.personalData {
	width: 906px;
	padding-left: 15px;
}
.container_4 hr {
	margin-left: 15px;
}
.container_5 {
	width: 1257px;
}
.container_6 {
	width: 1212px;
	margin-left: 45px;
}
.container_6LeftSide {
	width: 672px;
}
.container_6Text {
	width: 666px;
}
#feedbackForm {
	width: 672px;
}
#nameField {
	width: 305px;
}
#emailField {
	width: 305px;
}
textarea {
	width: 672px;
}
#feedbackButton {
	width: 672px
}
.contactInfoContainer {
	width: 456px;
	margin-left: 84px;
}
footer {
	width: 1257px;
}
}
@media only screen and (max-width: 1024px) {/*////////////////////////////@Media 1024px///////////////////////////////*/
* {
transition: 0s;
outline: none;
cursor: default;
}
body{
	width: 100%;
}
.container_1 {
	width: 100%;
	height: 900px;
	padding-top: 0;
}
.menu {
	width: 100%;
}
header {
	width: 100%;
	height: 730px;
	position: relative;
	margin: 70px auto;
}
.headerLeftItem {
	width: 700px;
	margin-left: 160px;
	position: absolute;
	height: 50%;
	top: 370px;
}
.headerLeftItem p {
	width: 700px;
	height: 80px;
}
iframe {
	width: 700px;
	height: 361px;
	position: absolute; 
	top: 0;
	left: 160px;
}
h1 {
	font-weight: 750;
}
.container_2 {
	width: 100%;
	height: 700px;
	position: relative;
}
.container_2LeftItem {
	width: 100%;
	float: none;
	margin: 0;
	padding: 0 50px;
}
.container_2LeftItem h2,
.container_2LeftItem p {
	text-align: center;
}
.container_2LeftItem p {
	height: 80px;	
}
#learnMoreButton {
	position: absolute;
	left: 380px;
	top: 600px;
}
.container_2RightItems{
	position: absolute;
	width: 80%;
	height: 60%;
	left: 0;
	top: 180px;
	text-align: center;
}
.container_3 {
	width: 100%;
	height: 800px;
}
.container_3Items {
	width: 100%;
	height: 400px;
	padding: 0 75px;
}
.container_3Item {
	width: 197px;
	height: 190px;
}
.container_3Item img {
	width: 100%;
	height: 100%;
}
.conteiner_3Menu {
	width: 800px;
	margin-left: 95px;
}
.conteiner_3Menu a {
	margin: 0 14px;
}
.container_4 {
	width: 100%;
	height: 723px;
	margin-top: 0;
	height: 600px;
}
.container_4 h2,
.container_4 p,
.container_4 hr {
	margin-left: 55px;
}
.ourTeamInfo {
	width: 100%;
	height: 358px;
	margin-top: 30px;
}
.leftPhoto {
	width: 221px;
	height: 360px;
	float: left;
	position: relative;
	margin-left: 55px;
}
.personalData {
	float: left;
	width: 700px;
	height: 360px;
	position: relative;
}
.personalData p,
.personalData h3 {
	margin-left: 10px;
}
.rightPhotoContainer {
	width: 700px;
	height: 164px;
}
.rightPhoto {
	width: 146px;
	height: 164px;
}
.personName {
 	opacity: 0.6;
}
.container_5 {
	width: 100%;
}
.container_5Text {
	width: 100%;
}
.container_5Text h2 {
	font-size:38px;
}
.container_6 {
	width: 952px;
	height: 783px;
	margin-top: 55px;
	margin-left: 55px;
	margin-right: 0;
}
.container_6LeftSide {
	width: 532px;
}
.container_6Text {
	width: 532px;
}
.container_6Text h2 {
	margin-bottom: 30px;
}
.container_6 hr {
	margin-bottom: 46px;
}
#feedbackForm {
	width: 532px;
}
#nameField {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
#emailField {
	width: 100%;
	margin-bottom: 20px;
}
textarea {
	margin-top: 0px;
	width: 100%;
	padding-left: 52px;
	padding-top: 33px;
}
#feedbackButton {
	width: 100%;
}
.contactInfoContainer {
	width: 380px;
	height: 533px;
	margin-top: 250px;
	margin-left: 40px;
}
footer {
	width: 100%;
	margin-top: 40px;
}
.footerContent {
	width: 800px;
}
.menu a:active {
	background-color: #ff3f40;
	color: #E0E0E0;
}
#contactUsButton:active {
	background-color: white;
	cursor: pointer;
}
#contactUsButton:active a {
	color: #ff3f40;
}
#learnMoreButton:active {
	background-color: #ff3f40;
	cursor: pointer;
}
#learnMoreButton:active a {
	color: white;
}
.conteiner_3Menu a:active {
	color: #ff3f40;
}
.personalDataLinks a:active {
	color: #ff3f40;
}
#subscribeButton:active {
	background-color: #FFFFFF;
	border: 2px solid #ff2d2d;
	color: #ff2d2d;
	cursor: pointer;
}
#feedbackButton:active {
	background-color: #FFFFFF;
	cursor: pointer;
	color: #ff2d2d;
}
@media only screen and (max-width: 768px) {/*////////////////////////////@Media 768px///////////////////////////////*/
iframe {
	width: 718px;
	left: 25px;
}
.headerLeftItem {
	width: 718px;
	margin-left: 25px;
}
.container_2 {
	margin-top: 50px;
}
.container_2LeftItem h2{
	font-size: 30px;
	margin-bottom: 10px;
}
.container_2RightItems{
	width: 718px;
	margin-left: 35px;
}
#learnMoreButton {
	left: 250px;
}
.container_3 {
	height: 650px;
}
.conteiner_3Menu {
	width: 700px;
	margin-left: 25px;
}
.conteiner_3Menu a {
	margin: 0 10px;
	font-size: 18px;
}
.container_3Items {
	margin-top: 30px;
	width: 100%;
	height: 350px;
	padding: 0 31px;
}
.container_3Item {
	width: 157px;
	height: 150px;
}
.container_4 h2,
.container_4 p,
.container_4 hr {
	margin-left: 25px;
}
.leftPhoto {
	margin-left: 25px;
}
.personalData {
	width: 500px;
}
.personalData p,
.personalData h3 {
	margin-left: 10px;
}
.personalData p {
	width: 400px;
}
.personalDataText {
	width: 100%;
}
.rightPhotoContainer {
	width: 480px;
	height: 150px;
}
.rightPhoto {
	width: 110px;
	height: 150px;
	margin-left: 0;
}
.container_5 {
	width: 100%;
	margin-top: 55px;
	padding-top: 55px;
	height: 400px;
}
.subscribeFormInput {
	width: 450px;
	height: 65px;
}
#subscribeEMail {
	width: 317px;
	height: 55px;
}
#subscribeButton {
	width: 110px;
	height: 55px;
	color: #FFFFFF;
	font-size: 15px;
}
.container_6 {
	width: 726px;
	margin-left: 25px;
}
.container_6LeftSide {
	width: 400px;
}
#feedbackForm {
	width: 100%;
	height: 533px;
}
.contactInfoContainer {
	width: 306px;
	margin-left: 20px;
}
.contactInfo {
	margin-left: 25px;
}
footer {
	width: 100%;
	margin-top: 40px;
}
.footerContent {
	width: 80%;
	margin-left: 50px;
}
}
@media only screen and (max-width: 600px) {/*////////////////////////////@Media 600px///////////////////////////////*/
iframe {
	width: 533px;
	height: 300px;
	left: 25px;
}
header {
	margin-top: 50px;
	height: 630px;
}
h1 {
	width: 533px;
	font-size: 42px;
}
.headerLeftItem p {
	width: 533px;
	line-height: 25px;
}
#contactUsButton {
	margin-top: 25px;
}
.container_2 {
	height: 800px;
}
.container_2LeftItem p {
	height: 100px;
}
.container_2RightItems{
	width: 100%;
	margin-left: 60px;
	top: 190px;
}
.container_2RightItem {
	width: 40%;
}
#learnMoreButton {
	top: 680px;
	left: 150px;
}
}