@media only screen and (max-width: 1600px){/*////////////////////////////@Media 1600px///////////////////////////////*/
body{
	width: 1577px;
}
.container_1 {
	width: 1577px;*
}
.container_5 {
	width: 1577px;
}
.container_6 {
	width: 1417px;
	margin-left: 162px;
}
.contactInfoContainer {
	width: 577px;
}
footer {
	width: 1577px;
}
.footerContent {
	width: 1249px;
}
}
@media only screen and (max-width: 1366px){/*////////////////////////////@Media 1366px///////////////////////////////*/
body{
	width: 1343px;
}
.container_1 {
	width: 1343px;*
}
.container_5 {
	width: 1343px;
}
.container_6 {
	width: 1295px;
	margin-left: 45px;
}
.contactInfoContainer {
	width: 456px;
}
footer {
	width: 1343px;
}
.footerContent {
	width: 1000px;
}
}
@media only screen and (max-width: 1280px){/*////////////////////////////@Media 1280px///////////////////////////////*/
body{
	width: 1257px;
}
.container_1 {
	width: 1257px;*
}
.menu {
	width: 1217px;
}
header {
	width: 1200px;
}
h1 {
	letter-spacing: 5px;
}
.container_2 {
	width: 1257px;
	height: 530px;
}
.container_2RightItem{
	height: 50%;
}
.container_2LeftItem {
	margin-left: 25px;
}
.container_2RightItems{
	margin-left: 100px;
}
.container_3 {
	margin-top: 52px;
}
.container_4 {
	width: 1257px;
}
.container_4 h2,
.container_4 p {
	margin: 15px;
}
.leftPhoto {
	margin-left: 15px;
}
.personalData {
	width: 906px;
	padding-left: 15px;
}
.container_4 hr {
	margin-left: 15px;
}
.container_5 {
	width: 1257px;
}
.container_6 {
	width: 1212px;
	margin-left: 45px;
}
.container_6LeftSide {
	width: 672px;
}
.container_6Text {
	width: 666px;
}
#feedbackForm {
	width: 672px;
}
#nameField {
	width: 305px;
}
#emailField {
	width: 305px;
}
textarea {
	width: 672px;
}
#feedbackButton {
	width: 672px
}
.contactInfoContainer {
	width: 456px;
	margin-left: 84px;
}
footer {
	width: 1257px;
}
}
@media only screen and (max-width: 1024px) {/*////////////////////////////@Media 1024px///////////////////////////////*/
* {
transition: 0s;
}
body{
	width: 100%;
}
.container_1 {
	width: 100%;
	height: 900px;
	padding-top: 0;
}
.menu {
	width: 100%;
}
/* .menu a:active {
	background-color: #ff3f40; 5555555555555555555555555555555555
	color: #E0E0E0;
} */
header {
	width: 100%;
	height: 730px;
	position: relative;
	margin: 70px auto;
}
.headerLeftItem {
	width: 700px;
	margin-left: 160px;
	position: absolute;
	height: 50%;
	top: 370px;
}
.headerLeftItem p {
	width: 700px;
	height: 80px;
}
iframe {
	width: 700px;
	height: 361px;
	position: absolute; 
	top: 0;
	left: 160px;
}
h1 {
	font-weight: 750;
}
.container_2 {
	width: 100%;
	height: 700px;
	position: relative;
}
.container_2LeftItem {
	width: 100%;
	float: none;
	margin: 0;
	padding: 0 50px;
}
.container_2LeftItem h2,
.container_2LeftItem p {
	text-align: center;
}
.container_2LeftItem p {
	height: 80px;	
}
#learnMoreButton {
	position: absolute;
	left: 380px;
	top: 600px;
}
.container_2RightItems{
	position: absolute;
	width: 80%;
	height: 60%;
	left: 0;
	top: 180px;
	text-align: center;
}
.container_3 {
	width: 100%;
	height: 800px;
}
.container_3Items {
	width: 100%;
	height: 400px;
	padding: 0 65px;
}
.container_3Item {
	width: 197px;
	height: 190px;
}
.container_3Item img {
	width: 100%;
	height: 100%;
}
.conteiner_3Menu {
	width: 800px;
}
.conteiner_3Menu a {
	margin: 0 14px;
}
.container_4 {
	width: 100%;
	height: 723px;
}
.container_4 h2,
.container_4 p,
.container_4 hr {
	margin-left: 55px;
}
.ourTeamInfo {
	width: 100%;
	height: 358px;
	margin-top: 30px;
}
.leftPhoto {
	width: 221px;
	height: 360px;
	float: left;
	position: relative;
	margin-left: 55px;
}
.personalData {
	float: left;
	width: 700px;
	height: 360px;
	position: relative;
}
.personalData p,
.personalData h3 {
	margin-left: 10px;
}
.rightPhotoContainer {
	width: 700px;
	height: 164px;
}
.rightPhoto {
	width: 146px;
	height: 164px;
}
}