* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}
body{
	width: 1577px;
	margin: auto;
}
a {
	text-decoration: none;
	color: white;
}
p {
	color: #737373;
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
	overflow: hidden;
}
.container_1 {
	width: 1577px;
	height: 688px;
	background-color: #F6F2F2;
	padding-top: 29px;
	/*margin: auto;*/
	margin: 0;
}
/*.containerForContainer {
	width: 1577px;
	margin: auto;
}*/
.menu {
	width: 1249px;
	height: 89px;
	margin: 0 auto;
	background-color: #313030;
	text-align: center;
}
.menu a {
	display: inline-block;
	text-decoration: none;
	font-family: OpenSans-Bold;
	color: #FFFFFF;
	padding: 30px 15px;
	height: 89px;
}
.menu a:hover {
	background-color: #ff3f40;
	color: #E0E0E0;
}
header {
	margin: 98px auto;
	width: 1254px;
	height: 361px;
	/*border: 1px solid #ff3f40;*/
}
.headerLeftItem {
	width: 56%;
	height: 100%;
	/*border: 1px solid green;*/
	float: left;
}
iframe {
	width: 44%;
	height: 100%;
	float: right;
}
h1 {
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 8px;
	margin-left: 5px;
}
.headerLeftItem p {
	font-size: 16px;
	width: 517px;
	height: 106px;
	line-height: 35px;
	margin-left: 5px;
}
#contactUsButton {
	width: 227px;
	height: 55px;
	border-radius: 5px;
	border-style: none;
	margin-top: 20px;
	margin-left: 5px;
	background-color: #ff3f40;
	font-size: 18px;
	text-align: center;
	padding-top: 12px;
	border: 3px solid #ff3f40;
}
#contactUsButton:hover {
	background-color: white;
}
#contactUsButton a {
	font-family: OpenSans-Bold;
}
#contactUsButton:hover a {
	color: #ff3f40;
}
.container_2 {
	/*margin: 98px auto;*/
	margin-top: 98px;
	margin-left: 161px;
	width: 1254px;
	height: 595px;
	/*border: 1px solid blue;*/
	/*margin-bottom: 0;*/
}
.container_2LeftItem {
	width: 45%;
	height: 100%;
	/*border: 1px solid #ff3f40;*/
	float: left;
}
h2 {
	font-size: 45px;
	word-spacing: 5px;
	color: #585858;
	margin-left: 5px;
}
.container_2LeftItem p,
.container_2RightItem p {
	line-height: 25px;
	margin-left: 5px;
}
.container_2LeftItem p {
	display: block;
	height: 185px;
	width: 100%;
}
.container_2RightItem p {
	width: 90%;
}
#learnMoreButton {
	box-sizing: border-box;
	width: 227px;
	height: 55px;
	border-radius: 5px;
	border-style: none;
	margin-left: 5px;
	background-color: white;
	font-size: 18px;
	text-align: center;
	padding-top: 12px;
	border: 3px solid #ff3f40;
}
#learnMoreButton:hover {
	background-color: #ff3f40;
}
#learnMoreButton a {
	font-family: OpenSans-Bold;
	color: #ff3f40;
}
#learnMoreButton:hover a {
	color: white;
}
.container_2RightItems{
	display: inline-block;
	width: 45%;
	height: 100%;
	margin-left: 10%;
	clear: both;
}
.container_2RightItem{
	width: 50%;
	height: 40%;
/*	border: 1px solid silver;*/
	float: left;
}
.container_2RightItem_icon {
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
}
.rightItemIcon {
	width: 40px;
	height: 40px;
	margin: 5px;
}
h3 {
	font-weight: 650;
	font-size: 20px;
	margin-left: 5px;
	color: #666666;
	margin-bottom: 10px;
}
body hr {
	width: 85%;
	height: 1px;
	background-color: lightgrey;
	margin: auto;
	border: none;
}
.container_3 {
	width: 1252px;
	height: 928px;
	/*border: 1px solid #ff3f40;*/
	margin-left: 162px;
	margin-top: 92px;
	text-align: center;
}
.container_3Text {
	width: 523px;
	height: 106px;
	margin: auto;
	margin-top: 25px;
}
.container_3Text hr {
	width: 35%;
	height: 2px;
	background-color: #ff3f40;
	border: none;
	border-radius: 1px;
}
.conteiner_3Menu {
	width: 894px;
	height: 25px;
	/*border: 1px solid #ff3f40;*/
	margin: auto;
	text-align: center;
	margin-top: 50px;
}
.conteiner_3Menu a {
	color: #737373;
	margin: 0 24px;
	font-size: 20px;
}
.conteiner_3Menu a:hover {
	color: #ff3f40;
}
.container_3Items {
	margin-top: 70px;
	width: 1252px;
	height: 600px;
	/*border: 1px solid green;*/
}
.container_3Item {
	width: 297px;
	height: 290px;
	/*border: 1px solid blue;*/
	float: left;
	margin-right: 7px;
	margin-left: 8px;
	margin-bottom: 15px;
}
.container_3Item img {
	width: 100%;
	height: 100%;
}
.container_4 {
	width: 1255px;
	height: 723px;
	/*margin: auto;*/
	margin-left: 152px;
	margin-top: 124px;
	/*border: 1px solid green;*/
}
.container_4 h2,
.container_4 p {
	margin: 5px;
}
.container_4Text {
	width: 450px;
	height: 106px;
	font-size: 15px;
	line-height: 25px;
}
.container_4 hr {
	width: 130px;
	height: 2px;
	border: none;
	background-color: #ff3f40;
	margin: 0;
	margin-left: 5px;
}
.ourTeamInfo {
	width: 100%;
	height: 458px;
	/*border: 1px solid blue;*/
	margin-top: 70px;
}
.leftPhoto {
	width: 321px;
	height: 460px;
	/*border: 1px solid orange;*/
	float: left;
}
.leftPhoto img {
	width: 100%;
	height: 100%;
}
.personalData {
	float: left;
	width: 930px;/*/////////////////934/////////////////*/
	height: 460px;
	/*border: 1px solid black;*/
	float: left;
	padding-left: 5%;
	position: relative;
}
.personalData h3 {
	font-weight: normal;
	font-size: 30px;
	margin-top: 5px;
}
.personalDataText {
	width: 671px;
	height: 106px;
	/*border: 1px solid red;*/
}
.personalDataText p {
	display: block;
	width: 100%;
	height:70px;
	color: #737373;
}
.personalDataLinks {
	width: 371px;
	height: 20px;
}
.personalDataLinks a {
	color: #737373;
	font-style: italic;
	margin: 0 10px;
}
.personalDataLinks a:hover {
	color: #ff3f40;
}
.rightPhotoContainer {
	width: 850px;
	height: 214px;
	/*border: 1px solid red;*/
	position: absolute;
	bottom: 0px;
}
.rightPhoto {
	width: 196px;
	height: 214px;
	/*border: 1px solid green;*/
	display: inline-block;
	margin: 0 5px;
}
.rightPhoto img {
	width: 100%;
	height: 100%;
}
.container_5 {
	width: 1577px;
	height: 514px;
/*	border: 1px solid red;*/
	/*margin: auto;*/
	margin-left: 0;
	margin-top: 90px;
	background-color: #f5f0dd;
	padding-top: 128px;
	/*background-image: url(../icon/background.jpg);*/
}
.container_5Text {
	width: 1105px;
	height: 250px;
	margin: auto;
/*	border: 1px solid green;*/
	
}
.container_5Text h2 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 30px;
	color: #FFFFFF;
}
.container_5Text p {
	font-size: 16px;
	text-align: center;
	margin-top: 30px;
	color: #FFFFFF;
}
.subscribeFormInput {
	width: 757px;
	height: 79px;
/*	border: 1px solid black;*/
	margin: auto;
	margin-top: 32px;
	clear: both;
}
#subscribeEMail {
	width: 517px;
	height: 75px;
	border: 2px solid #FFFFFF;
	/*border: none;*/
	border-radius: 10px;
	margin-right: 22px;
	float: left;
	font-size: 16px;
	padding-left: 35px;
}
#subscribeEMail:focus {
	outline: none;
	border: 2px solid #ff2d2d;
}
#subscribeButton {
	width: 210px;
	height: 75px;
	border: 2px solid #ff2d2d;
	background-color: #ff2d2d;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	font-size: 18px;
}
#subscribeButton:hover {
	background-color: #FFFFFF;
	border: 2px solid #ff2d2d;
	color: #ff2d2d;
	cursor: pointer;
}
.container_6 {
	width: 1417px;
	margin-top: 92px;
	height: 760px;
/*	border: 1px solid red;*/
	margin-left: 162px;
	clear: both;
}
.container_6Text {
	width: 726px;
	height: 203px;
	/*border: 1px solid green;*/
}
.container_6Text h2 {
	margin-bottom: 40px;
}
.container_6 p {
	margin-left: 5px;
}
.container_6 hr {
	width: 130px;
	height: 2px;
	border: none;
	background-color: #ff2d2d;
	margin: 0;
	margin-left: 5px;
	margin-bottom: 76px;
}
#nameField {
	outline: none;
	width: 335px;
	height: 65px;
	border: none;
	border: 2px solid #e5e5e5;
	background-color: #e5e5e5;
	/*margin-left: 5px;*/
	padding-left: 52px;
	margin-right: 54px;
	font-size: 16px;
	border-radius: 5px;
}
#emailField {
	outline: none;
	width: 335px;
	height: 65px;
	border: none;
	border: 2px solid #e5e5e5;
	background-color: #e5e5e5;
	padding-left: 52px;
	border-radius: 5px;
	font-size: 16px;
}
#feedbackForm {
	width: 773px;
	height: 475px;
	float: left;
}
textarea {
	outline: none;
	font-size: 16px;
	resize: none;
	margin-top: 46px;
	width: 732px;
	height: 245px;
	border: 2px solid #e5e5e5;
	background-color: #e5e5e5;
	padding-left: 52px;
	padding-top: 33px;
	border-radius: 5px;
	/*margin-left: 5px;*/
}
textarea:focus,
#emailField:focus,
#nameField:focus {
	border: 2px solid #ff2d2d;
}
#feedbackButton {
	margin-top: 45px;
	outline: none;
	width: 732px;
	/*margin-left: 5px;*/
	border: 2px solid #ff2d2d;
	background-color: #ff2d2d;
	height: 68px;
	font-family: OpenSans-Bold;
	font-size: 18px;
	border-radius: 5px;
	color: #FFFFFF;
}
#feedbackButton:hover {
	background-color: #FFFFFF;
	cursor: pointer;
	color: #ff2d2d;
}
.contactInfoContainer {
	width: 577px;
	height: 481px;
	background-color: #2d2d2d;
	float: left;
	margin-left: 107px;
	margin-top: 285px;
}
.container_6LeftSide {
	height: 783px;
	width: 732px;
	float: left;
}
.contactInfo {
	width: 286px;
	height: 196px;
	margin-left: 79px;
	margin-top: 139px;
}
.contactInfo h4 {
	font-size: 18px;
	margin-bottom: 36px;
	color: #FFFFFF;
}
.contactInfo p {
	font-size: 15px;
	margin-bottom: 27px;
	color: #FFFFFF;
}
footer {
	width: 1583px;
	height: 111px;
	background-color: #313030;
	margin-top: 110px;
	padding-top: 56px;
}
.footerContent {
	width: 1249px;
	height: 33px;
	margin-left: 168px;
}
.footerLeftContent {
	width: 350px;
	height: 17px;
	padding-top: 8px;
	font-size: 16px;
	float: left;
	color: #b8b8b8;
}
.footerLinks {
	width: 185px;
	height: 33px;
	float: right;
}
.footerLinks img {
	width: 33px;
	height: 33px;
}