* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}
body{
	width: 100%
}
a {
	text-decoration: none;
	color: white;
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
	overflow: hidden;
}
.container_1 {
	width: 1579px;
	height: 688px;
	background-color: #F6F2F2;
	padding-top: 29px;
	margin: auto;
}
.menu {
	width: 1249px;
	height: 89px;
	margin: 0 auto;
	background-color: #313030;
	text-align: center;
}
.menu a {
	display: inline-block;
	text-decoration: none;
	font-family: OpenSans-Bold;
	color: #FFFFFF;
	padding: 30px 15px;
	height: 89px;
}
.menu a:hover {
	background-color: #E10606;
	color: #E0E0E0;
}
header {
	margin: 98px auto;
	width: 1254px;
	height: 361px;
	/*border: 1px solid red;*/
}
.headerLeftItem {
	width: 56%;
	height: 100%;
	/*border: 1px solid green;*/
	float: left;
}
video {
	width: 44%;
	height: 100%;
	float: right;
}
h1 {
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 8px;
	margin-left: 5px;
}
.headerLeftItem p {
	font-size: 16px;
	width: 517px;
	height: 106px;
	line-height: 35px;
	margin-left: 5px;
}
#contactUsButton {
	width: 227px;
	height: 55px;
	border-radius: 5px;
	border-style: none;
	margin-top: 20px;
	margin-left: 5px;
	background-color: red;
	font-size: 18px;
	text-align: center;
	padding-top: 12px;
	border: 3px solid red;
}
#contactUsButton:hover {
	background-color: white;
}
#contactUsButton a {
	font-family: OpenSans-Bold;
}
#contactUsButton:hover a {
	color: red;
}
.container_2 {
	margin: 98px auto;
	width: 1254px;
	height: 361px;
	border: 1px solid blue;
}
.container_2LeftItem {
	width: 45%;
	height: 100%;
	border: 1px solid red;
	float: left;
}
.container_2LeftItem h2 {
	font-size: 45px;
	word-spacing: 5px;
	color: #666666;
	margin-left: 5px;
}
.container_2LeftItem p {
	display: block;
	height: 185px;
	width: 100%;
	line-height: 25px;
	margin-left: 5px;
}
#learnMoreButton {
	box-sizing: border-box;
	width: 227px;
	height: 55px;
	border-radius: 5px;
	border-style: none;
	margin-left: 5px;
	background-color: white;
	font-size: 18px;
	text-align: center;
	padding-top: 12px;
	border: 3px solid red;
}
#learnMoreButton:hover {
	background-color: red;
}
#learnMoreButton a {
	font-family: OpenSans-Bold;
	color: red;
}
#learnMoreButton:hover a {
	color: white;
}
.container_2RightItem{
	display: inline-block;
	width: 55%;
	height: 100%;
	clear: both;
}
.container_2RightItem_1,
.container_2RightItem_2,
.container_2RightItem_3,
.container_2RightItem_4 {
	width: 50%;
	height: 50%;
	border: 1px solid silver;
	float: left;
}
.container_2RightItem_icon {
	width: 100%;
	height: 45px;
}